@model List<Fotter>
<footer>
    <div class="container">
       
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li><a href="@item.FacebookUrl"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="@item.XUrl"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="@item.InstagramUrl"><i class="fa fa-instagram"></i></a></li>
                        
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="~/theme/assets/images/white-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>
                            © @DateTime.Now.Year Copyright @item.CopyrightText

                            <br>Design: @item.DesignedName
                        </p>
                    </div>
                </div>
            }
           
        </div>
    </div>
</footer>